html{
    background-color: black;
}
table{
    background-color: rgb(65, 60, 60);
    margin: 1em auto;
    border: thin solid white;
    width:20%;
    
}
td{
    background-color: rgb(65, 60, 60);
    height: 3.1em;
    width: 3.1em;
}

td.egy,td.ketto,td.harom,td.negy,td.ot{
    background-color: white;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}
td.egy:hover{
    border:0.2em solid green;
    width: 2.7em;
    height: 2.7em;
}

td.egy{
    border-top: 0.25em solid green;
}
td.ketto:hover{
    border:0.2em solid red;
    width: 2.7em;
    height: 2.7em;
}
td.ketto{
    border-top: 0.25em solid red;
}
td.harom:hover{
    border:0.2em solid yellow;
    width: 2.7em;
    height: 2.7em;
}
td.harom{
    border-top: 0.25em solid yellow;
}
td.negy:hover{
    border:0.2em solid blue;
    width: 2.7em;
    height: 2.7em;
}
td.negy{
    border-top: 0.25em solid blue;
}
td.ot:hover{
    border:0.2em solid orange;
    width: 2.7em;
    height: 2.7em;
}
td.ot{
    border-top: 0.25em solid orange;
}

td.sarga{
    border: medium solid yellow;
    margin: 1em auto;
    border-radius: 3em;
    background-color: grey;
    width: 0.5em;
    height: 0.5em;
}
td.piros{
    border: medium solid red;
    margin: 1em auto;
    border-radius: 3em;
     background-color: grey;
    width: 0.5em;
    height: 0.5em;
}
td.zold{
    border: medium solid green;
    margin: 1em auto;
    border-radius: 3em;
    background-color: grey;
    width: 0.5em;
    height: 0.5em;
}
td.kek{
    border: medium solid blue;
    margin: 1em auto;
    border-radius: 3em;
    background-color: grey;
    width: 0.5em;
    height: 0.5em;
}
td.narancs{
    border: medium solid orange;
    margin: 1em auto;
    border-radius: 3em;
    background-color: grey;
    width: 0.5em;
    height: 0.5em;
}
td.zold:hover,td.piros:hover,td.kek:hover,td.narancs:hover,td.sarga:hover{
border-width: 0em;
background: none;
}
